name: test and lint pullrequest changes

on:
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Set up Go
      uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
      with:
        go-version: 1.25.5
    - name: Run tests
      run: |
        make plugin_ci
        make test
    - name: Lint programs
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.4.0
        skip-cache: true
        skip-save-cache: true
        install-mode: binary
    - name: Modernize check
      run: make modernize
