name: test and lint pullrequest changes

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.5
    - name: Run tests
      run: make test
    - name: Lint programs
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.42
        skip-pkg-cache: true
        skip-build-cache: true
        skip-go-installation: true
    - name: Set version
      id: version
      run: |
        VERSION=$(echo ${{ github.ref }} | sed -e "s#refs/tags/##g")
        echo ::set-output name=version::$VERSION
    - name: Build platform binaries
      run: VERSION=${{ steps.version.outputs.version }} make release
