name: test and lint pullrequest changes

on:
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.22.2
    - name: Run tests
      run: make test
    - name: Lint programs
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.58
        skip-cache: true
        skip-save-cache: true
        install-mode: binary
